flows.json
[{"id":"46cb9b74.3de444","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f2919c99.8e67a","type":"ibmiot in","z":"46cb9b74.3de444","authentication":"apiKey","apiKey":"167a24e1.03d99b","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"thermometer3","applicationId":"","deviceType":"iotdevice","eventType":"iotsensor","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":110,"y":60,"wires":[["8cf0440e.65b2b8","2a2c5915.6eb676","e4b6b9ad.580c68","e3b9eade.ea4328"]]},{"id":"8cf0440e.65b2b8","type":"debug","z":"46cb9b74.3de444","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":80,"wires":[]},{"id":"2a2c5915.6eb676","type":"function","z":"46cb9b74.3de444","name":"Temperature","func":"msg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":40,"wires":[["8cf0440e.65b2b8","811887a9.8515d8"]]},{"id":"e4b6b9ad.580c68","type":"function","z":"46cb9b74.3de444","name":"Humidity","func":"msg.payload=msg.payload.d.humidity \nreturn msg;","outputs":1,"noerr":0,"x":420,"y":120,"wires":[["8cf0440e.65b2b8","e8aa59aa.518f58"]]},{"id":"811887a9.8515d8","type":"ui_gauge","z":"46cb9b74.3de444","name":"","group":"67fdcf94.2725c","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"degree celsius","format":"{{value}}","min":0,"max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":40,"wires":[]},{"id":"e8aa59aa.518f58","type":"ui_gauge","z":"46cb9b74.3de444","name":"","group":"67fdcf94.2725c","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":140,"wires":[]},{"id":"b5c9be30.ffee1","type":"ibmiot out","z":"46cb9b74.3de444","authentication":"apiKey","apiKey":"167a24e1.03d99b","outputType":"cmd","deviceId":"nodemcu","deviceType":"demodevice","eventCommandType":"controls","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":840,"y":280,"wires":[]},{"id":"cb7c050d.310e08","type":"http request","z":"46cb9b74.3de444","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=himachal pradesh&appid=53c692fd4f5affea893b267c31f589b4","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":440,"wires":[["b2a62753.eca318","7467ccbf.3c3994","6af13fca.e043e","732223b2.8dd24c","88d987a2.702988","cbcbade3.445d3"]]},{"id":"b2a62753.eca318","type":"debug","z":"46cb9b74.3de444","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.main.temp","targetType":"msg","x":630,"y":380,"wires":[]},{"id":"1fc11b16.c3dd45","type":"inject","z":"46cb9b74.3de444","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":420,"wires":[["cb7c050d.310e08"]]},{"id":"7467ccbf.3c3994","type":"debug","z":"46cb9b74.3de444","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.main.humidity","targetType":"msg","x":640,"y":420,"wires":[]},{"id":"9fdf80c1.e0c5c","type":"ui_text_input","z":"46cb9b74.3de444","name":"","label":"Temperature","tooltip":"","group":"4e31673a.229988","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":650,"y":500,"wires":[[]]},{"id":"fd2e00bb.7188e","type":"ui_text_input","z":"46cb9b74.3de444","name":"","label":"Humidity","tooltip":"","group":"4e31673a.229988","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":640,"y":540,"wires":[[]]},{"id":"6af13fca.e043e","type":"change","z":"46cb9b74.3de444","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":500,"wires":[["9fdf80c1.e0c5c"]]},{"id":"732223b2.8dd24c","type":"change","z":"46cb9b74.3de444","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":540,"wires":[["fd2e00bb.7188e"]]},{"id":"88d987a2.702988","type":"change","z":"46cb9b74.3de444","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":580,"wires":[["d50cae99.d0552"]]},{"id":"d50cae99.d0552","type":"ui_text_input","z":"46cb9b74.3de444","name":"Pressure","label":"Pressure","tooltip":"","group":"4e31673a.229988","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":640,"y":580,"wires":[[]]},{"id":"e3b9eade.ea4328","type":"function","z":"46cb9b74.3de444","name":"Soil Moisture","func":"msg.payload=msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":180,"wires":[["b5e0e38f.4090d","8cf0440e.65b2b8"]]},{"id":"b5e0e38f.4090d","type":"ui_gauge","z":"46cb9b74.3de444","name":"","group":"67fdcf94.2725c","order":3,"width":0,"height":0,"gtype":"gage","title":"Soil Moisture","label":"Bar","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#ffff00","#ca3838"],"seg1":"","seg2":"","x":710,"y":200,"wires":[]},{"id":"cbcbade3.445d3","type":"debug","z":"46cb9b74.3de444","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.main.pressure","targetType":"msg","x":640,"y":340,"wires":[]},{"id":"ca3ba835.bc0358","type":"json","z":"46cb9b74.3de444","name":"motor","property":"payload","action":"obj","pretty":false,"x":590,"y":280,"wires":[["b5c9be30.ffee1"]]},{"id":"9381bf1c.b6d21","type":"ui_button","z":"46cb9b74.3de444","name":"Motor ON","group":"705bd901.7513e8","order":1,"width":0,"height":0,"passthru":false,"label":"ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":120,"y":220,"wires":[["be94da72.f831f8"]]},{"id":"e56a5d31.54005","type":"ui_button","z":"46cb9b74.3de444","name":"Motor OFF","group":"705bd901.7513e8","order":2,"width":0,"height":0,"passthru":false,"label":"OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":130,"y":320,"wires":[["be94da72.f831f8"]]},{"id":"be94da72.f831f8","type":"function","z":"46cb9b74.3de444","name":"check state","func":"if (msg.payload === true)\n{\n    msg.payload = '{\"motor\" : \"ON\"}';\n}\nelse\n{\n    msg.payload = '{\"motor\" : \"OFF\"}';\n}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":280,"wires":[["ca3ba835.bc0358"]]},{"id":"167a24e1.03d99b","type":"ibmiot","z":"","name":"g","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"67fdcf94.2725c","type":"ui_group","z":"","name":"ATMOSPHERE","tab":"92c2fbaf.ed23c8","order":2,"disp":true,"width":"6","collapse":false},{"id":"4e31673a.229988","type":"ui_group","z":"","name":"REALTIME WEATHER DATA","tab":"92c2fbaf.ed23c8","order":3,"disp":true,"width":"6","collapse":false},{"id":"705bd901.7513e8","type":"ui_group","z":"","name":"MOTOR CONTROLS","tab":"92c2fbaf.ed23c8","order":1,"disp":true,"width":"6","collapse":false},{"id":"92c2fbaf.ed23c8","type":"ui_tab","z":"","name":" SMART AGRICULTURE SYSTEM","icon":"dashboard","disabled":false,"hidden":false}]